.container {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 30vw;
    height: 100vh;
    background-color: #ccc;
    display: flex;
    flex-direction: column;

}

.right {
    width: 30vw;
    height: 100vh;
    background-color: #ccc;
    display: flex;
    flex-direction: column;

}

.big {
    width: 60vw;
    height: 100vh;
    max-width: 100%;
    padding: 5vh 3vw
}

.small_top {
    flex-grow: 1;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

.small_bottom {
    flex-grow: 1;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}